<h2>Edit category</h2>

<%= render "form.html", conn: @conn, category: @category, method: :put,
                        action: category_path(@conn, :update, @category["id"]) %>

<%= link "Back", to: category_path(@conn, :index) %>
