<div class="form-container">
  <h2 class="view__title">Show category '<%= @category["name"] %>'</h2>

  <table class="table">
    <thead></thead>
    <tr>
      <td>Name:</td>
      <td><%= @category["name"] %></td>
    </tr>
    <tr>
      <td>Permalink:</td>
      <td><%= @category["permalink"] %></td>
    </tr>
  </table>

  <%= link "Edit", to: category_path(@conn, :edit, @category["id"]), class: "btn--add-new" %>
</div>
